:root {
  --branding-color: #986c6a;
  --secondary-color: #1f0318;
  --background-color: #f9f8f8;
  --heading-font-family: "Lora", serif;
  --default-font-family: "Merriweather, serif";
}

/*General styling*/
body {
  margin:0;
  padding-top:  70px;
  font-family: var(--default-font-family);
}


header {
  background-size: cover;
  background-position-y: center;
  color: var(--secondary-color);
  padding: 60px 20px;
  font-family: var(--heading-font-family);
  text-align: center;
}

header h1 {
  font-size: 3rem;
  font-weight:700;
  line-height: 1.2;
  margin: 0 auto 10px;
}

header h2 {
  font-size: 1.5rem;
  font-weight:400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-family:"Merriweather, sans-serif";
  font-size: 1.25rem;
  font-weight:900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header p {
  font-size: 1.125rem;
  margin: 0 auto;
  max-width: 800px;
}

ul {
  list-style: none;
  padding-left: 0;
  line-height: 2;
}

li {
  line-height: 2;
  font-weight: 500;
  font-size: 1.125rem;
}
section {
 padding: 80px 20px;
}

/*hero section*/
.hero {
  padding: 40px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size:1.25rem;
  margin-bottom: 30px;
}

.hero-text {
  width: 100%; 
  z-index: 1; 
  display:block;
  opacity: 1;
  visibility: visible;
  position: relative;
  z-index: 2;
  padding: 20px;
  text-align: center;
}

.hero-text p {
  display: block;
  visibility: visible;
  opacity: 1;
  color:black;
  z-index: 2;
  position: relative;
}


/*buttons*/
.btn-social{
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.35em;
  border-radius: 50%;
  background-color: #ffffff;
}

.btn-branding {
  display:inline-block;
  font-family:var(--default-font-family);
  font-size: 1rem;
  font-weight:700;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding:16px 32px;
  border-radius: 8px;
  background-color: var(--branding-color);
  color:var(--background-color);
  transition: all 150ms ease-in-out;
}

.btn-branding:hover {
  background-color: var(--secondary-color);
  color:white;
}
.social-contact {
  font-size: 1/5rem;
  padding: 12px;
  color: var(--branding-color);
  text-align: center;
}

/*image*/
.img-responsive {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 15px;
}

/*grid layout-using Bootstrap*/

.grid {
  display: grid;
  grid-gap: 64px;
  place-items: center;
  
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  align-items: center;
}

.grid-2-columns p {
  font-size: 18px;
  
}

.grid-2-columns a {
  font-size: 16px;
  font-family:var(--default-font-family);
  font-weight:700px;
  line-height: 1.5;
  text-align: center;
  color:var(--background-color);
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--branding-color);
  display:inline-block;
  padding:16px 32px;
  margin-top: 32px;
  border-radius: 8px;
}

/*Content*/
.content {
  font-size: 1.125rem;
}

.content-container {
  padding: 80px 20px;
}

.contact {
  text-align: center;
  line-height: 2;
  
}

.contact-button {
  text-align: center;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.5em;
  background: var(--background-color);
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.contact-button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}



/*all the cards HOME and WORK html*/

.card {
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

/*Only the cards from WORK page*/
.card-project {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
}

.card-body-project {
  padding: 20px;
}


.about-me {
  text-align: center;
}

.contact-me {
  max-width: 100%;
  height: auto;
}

/*Media Queries for Medium-Large Screens*/
@media (max-width: 960px) {
  header {
    padding:60px 20px;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }

  .contact-me {
    width: calc(50%-30px);
  }
  .card-group {
    display: grid;
    grid-template-columns: 1fr; /* Stack the cards vertically on small screens */
    grid-gap: 20px;
  }

  .project-description {
    padding: 60px 20px;
  }

  .hero-text {
    font-size: 24px;
    display: block;
  }

  .hero-text p{
    font-size: 24px;
    display: block;
  }
}

/*Media Queries for mobile devices*/

@media (max-width: 768px) {
  .grid-2-columns {
    grid-template-columns: 1fr; /* Stack vertically */
    text-align: center;
  }

  .img-responsive {
    max-width: 60%;
  } 

  header h1 {
    font-size: 24px;
  }

  header h2 {
    font-size: 16px;
  }

  .btn-branding {
    padding: 8px 16px;
    font-size: 14px;
  }
  
  .card {
    margin-bottom: 20px;
  }
}

