:root {
  --branding-color: #986c6a;
  --secondary-color: #1f0318;
  --background-color: #f9f8f8;
  --heading-font-family: "Lora", serif;
  --default-font-family: "Merriweather", serif;
}

/*General styling*/
body {
  margin:0;
  padding-top:  70px;
  font-family: var(--default-font-family);
}


header {
  background-size: cover;
  background-position-y: center;
  color: var(--secondary-color);
  padding: 60px 20px;
  font-family: var(--heading-font-family);
  text-align: center;
}

header h1 {
  font-size: 3rem;
  font-weight:700;
  line-height: 1.2;
  margin: 0 auto 10px;
}

header h2 {
  font-size: 1.5rem;
  font-weight:400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-family:"Merriweather", sans-serif;
  font-size: 1.25rem;
  font-weight:900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header p {
  font-size: 1.125rem;
  margin: 0 auto;
  max-width: 800px;
}

ul {
  list-style: none;
  padding-left: 0;
  line-height: 2;
}

li {
  line-height: 2;
  font-weight: 500;
  font-size: 1.125rem;
}
section {
 padding: 80px 20px;
}

/*hero section*/
.hero {
  padding: 40px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size:1.25rem;
  margin-bottom: 30px;
}

/*Social Media Icons in hero section*/
.follow a {
  color: var(--secondary-color); /* Dark and neutral color */
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.follow i {
  font-size: 2.25rem; /* Big and consistent icon size to look better*/
}

.follow a:hover {
  color: var(--branding-color); 
}

/*buttons*/

.btn-branding {
  display:inline-block;
  font-family:var(--default-font-family);
  font-size: 1rem; /*Is the same as 16px*/
  font-weight:700;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding:16px 32px;
  border-radius: 8px;
  transition: all 150ms ease-in-out;
 
  --bs-btn-color: var(--background-color);
  --bs-btn-bg: var(--branding-color);
  --bs-btn-border-color: var(--branding-color);
  
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: var(--secondary-color);
  --bs-btn-hover-border-color: var(--secondary-color);

  --bs-btn-active-color: white;
  --bs-btn-active-bg: var(--secondary-color);
  --bs-btn-active-border-color: var(--secondary-color);
}

.btn-branding:hover {
  background-color: var(--secondary-color);
  color:white;
}
.social-contact {
  font-size: 1.5rem;
  padding: 12px;
  color: var(--branding-color);
  text-align: center;
}

/*image*/
.img-responsive {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 15px;
}


/*Content*/
.content {
  font-size: 1.125rem;
}

.content-container {
  padding: 80px 20px;
}

.contact {
  text-align: center;
  line-height: 2;
  
}

.contact-button {
  text-align: center;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.5em;
  background: var(--background-color);
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.contact-button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

/*all the cards HOME and WORK html*/
.card {
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: translateY(-10px);
}

/*Only the cards from WORK page*/
.card-project {
  width: 100%;
  
}

/*Scroll animations*/
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.card-body-project {
  padding: 20px;
}


.about-me {
  text-align: center;
}

.contact-me {
  max-width: 100%;
  height: auto;
}

/*Media Queries*/

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 992px) {
  header h1, .hero h1 {
    font-size: 2.5rem;
  }
  header h2 {
    font-size: 1.25rem;
  }
  section {
    padding: 60px 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid-2-columns {
    grid-template-columns: 1fr;
    gap:30px;
  }
}

/*Mobile devices (landscape phones, less than 768px)*/

@media (max-width: 768px) {
  header h1, .hero h1 {
    font-size: 2rem;
  }
  .img-responsive {
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  .card-group {
    grid-template-columns: 1fr;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
  body {
    padding-top: 60px
  }
  header h1, .hero h1 {
    font-size: 1.8rem;
  }
  header h2 {
    font-size: 1rem;
  }
  .btn-branding {
    padding: 12px 24px;
    font-size: 0.9rem;
  }
  .contact-button {
    font-size: 1rem;
  }
}